doctype
html(lang="en")
	include includes/header.pug
	body 
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugiat quisquam asperiores autem tempore possimus, nihil sed beatae temporibus rerum molestias deleniti nisi minima maiores quia et architecto aut eveniet ex obcaecati id? Accusantium unde atque nesciunt incidunt maxime repellendus, quis quas, pariatur placeat voluptas necessitatibus, officiis doloribus iure rerum!
		include includes/footer.pug
	